@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#title-container {
    justify-content: center;
    align-items: center;
    height: 15vh;
    min-width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
}

#title-container h1 {
    font-family: 'Press Start 2P' !important;
    font-size: 50px;
    color: white;
    padding: 0px;
    margin: 0px;
    text-shadow: 5px 5px #17183b; /* space cadet */
    text-align: center;
}

table {
    font-family: 'Open Sans' !important;
    font-style: italic;
    color: white;
    width: 100%;
}

p {
    font-family: 'Open Sans' !important;
    font-style: italic;
    color: white;
    width: 100%;
    text-align: center;
}

th,
td {
    padding: 2vh;
}

#instructions-container h1,
.decision-container h1,
#level-start-container h1 {
    font-family: 'Press Start 2P' !important;
    font-size: 1.5vw;
    color: white;
    padding: 0px;
    margin: 0px;
    text-shadow: 5px 5px #6369d1;
    text-align: center;
}

#instructions-container,
.decision-container,
#level-start-container {
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    width: 20vw;
    position: absolute;
    top: 25vh;
    left: 40vw;
    padding: 2vw;
}

#instructions-container {
    height: 52vh;
}

#game-win-container,
#level-win-container {
    height: 42vh;
}

#game-win-container {
    width: 26vw !important;
}

#lose-container {
    height: 40vh;
}

#level-start-container {
    height: 8vh;
}

img {
    max-height: 25vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
